* {
  box-sizing: border-box;
}

.main-prod-container {
  justify-content: center;
  margin-left: 50px;
}

.productcard-container {
  background-color: rgba(139, 92, 57, 0.8);
  width: 350px;
  height: 530px;
  margin-top: 20px;
  border-radius: 20px;
  color: whitesmoke;
  position: relative;
}

.image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 0;
  border-top-left-radius: 20px;
  margin: 5px, 5px;
  padding-top: 17px;
}

.product-img {
  margin: 0;
  padding: 0;
  transition-duration: 0.2s;
}

.product-img:hover {
  transform: scale(1.1);
  filter: drop-shadow(3px 3px 3px rgb(101, 84, 84));
}

.product-details {
  padding: 0px;
  margin: 0px;
  text-align: left;
  padding-left: 15px;
}

.product-name {
  font-size: 25px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(139, 92, 57, 0.8);
  padding: 7px;
}

.product-description {
  font-size: 13px;
  width: 320px;
  position: absolute;
  transform: translate(0px, -45px);
}

.product-price {
  font-size: 40px;
  transform: translate(0px, -55px);
  bottom: 0;
  position: absolute;
}

.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  transform: translate(-50%);
  left: 50%;
}

button {
  background-color: white;
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(61, 41, 26, 0.8);
  transition-duration: 0.2s;
}

button:hover {
  transform: scale(1.1);
  filter: drop-shadow(3px 3px 3px rgb(101, 84, 84));
}

.cart-button,
.buy-button {
  width: 100px;
  border-radius: 20px;
}

.quantity-container {
  display: flex;
  gap: 5px;
}

.quantity-button {
  padding: 0;
  height: 20px;
  width: 20px;
}

.quantity-display {
  display: flex;
  padding: 0;
  justify-content: center;
  height: 20px;
  width: 15px;
}
