/*
color standards



*/

@font-face {
	font-family: bebas;
	src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
	font-family: playfair;
	src: url(../../public/fonts/PlayfairDisplay-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	width: 60px;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	margin-left: 10px;
	left: 0;
}

.navbar {
	background-color: rgb(169, 132, 103, 80%);
	height: 80px;
	width: 100%;
	position: fixed;
	display: flex;
}

.maincon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	font-size: 30px;
}
.nav-buttons {
	display: flex;
	gap: 30px;
	margin-right: 10px;
}

.nav-items {
	text-decoration: none;
	color: #6b594d;
	font-size: 20px;
	transition-duration: 0.2s;
	right: 0;
	font-family: playfairb;
}

.nav-items:hover {
	color: #1e1712;
}

.nav-item6 {
	border: 1px solid #5a4b41;
	padding: 5px;
	color: white;
	transition-duration: 0.2s;
	border-radius: 5px;
}

.nav-item6:hover {
	background-color: #5a4b41;
	color: white;
}

.shopname {
	margin-bottom: 10px;
	font-family: playfair;
	font-weight: bold;
	font-size: 40px;
}

/* responsiveness */

@media (max-width: 480px) {
	.shopname {
		font-size: 10x;
	}

	.nav-item6 {
		transform: translate(0px, -5px);
	}

	.nav-buttons {
		display: flex;
		gap: 10px;
		margin-right: 3px;
	}

	.nav-items {
		text-decoration: none;
		color: #6b594d;
		font-size: 11px;
		transition-duration: 0.2s;
	}
}

@media (max-width: 576px) {
	.shopname {
		font-size: 11px;
	}

	.nav-buttons {
		padding: 5px;
	}

	.nav-items {
		font-size: 11px;
		font-weight: bold;
	}
}

@media (max-width: 415px) {
	.shopname {
		font-size: 11px;
	}

	.nav-buttons {
		padding: 5px;
		margin-right: 10px;
	}

	.nav-items {
		font-size: 11px;
		font-weight: bold;
	}
}
