@font-face {
	font-family: bebas;
	src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
	font-family: playfair;
	src: url(../../public/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: playfairb;
	src: url(../../public/fonts/PlayfairDisplay-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: playfairb;
}

.main-f-con {
	transform: translate(0px, 300px);
	display: flex;
	color: white;
	width: 99vw;
	height: 400px;
	background-color: rgba(65, 44, 23, 0.9);
}

.footer-con {
	margin: 20px;
}

.footcon1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 90%;
	/* background-color: rgba(65, 44, 23, 0.8); */
}

.footcon2 {
	width: 20%;
	height: 90%;
	/* background-color: rgba(65, 44, 23, 0.8); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footcon3 {
	width: 30%;
	height: 90%;
	/* background-color: rgba(65, 44, 23, 0.8); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.foot-sub-div {
	margin: 5px;
	width: 90%;
	height: 20%;
	/* background-color: rgba(135, 92, 50, 0.8); */
}

.foot-sub-div1 {
	height: 30%;
	display: flex;
	align-items: center;
	gap: 30px;
}

.logo1 {
	width: 60px;
	height: 60px;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	margin-left: 10px;
}

.tag2-1 {
	color: rgb(187, 167, 147);
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	font-size: 30px;
}

.foot-sub-div3 {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.f-logo {
	width: 50px;
	border-radius: 50%;
}

.f-logo:hover {
	transform: scale(1.1);
	opacity: 50%;
}

.concon {
	display: flex;
	gap: 20px;
}

.arrow {
	margin-left: 30px;
	transition-duration: 0.1s;
}

.arrow:hover {
	transform: scale(1.2);
}

.copyright {
	margin-top: 30px;
	margin-left: 50px;
}

.back {
	font-family: playfairb;
	font-size: 20px;
	margin: 10px;
	color: rgb(147, 138, 115);
}

.site-map-header {
	font-family: playfairb;
	margin-top: 20px;
	font-size: 40px;
	margin-bottom: 30px;
	color: rgb(187, 167, 147);
}

.pages {
	color: rgb(234, 225, 216);
}

.legal-header {
	font-family: playfairb;
	margin-top: 20px;
	font-size: 40px;
	margin-bottom: 30px;
	color: rgb(187, 167, 147);
}

.shopname1 {
	font-size: 50px;
}

@media (max-width: 400px) {
	.main-f-con {
		height: 400px;
	}
}

/* Medium devices (tablets) */

@media (max-width: 768px) {
}

/* Large devices (small laptops) */

@media (max-width: 992px) {
}

/* Extra large devices (desktops */

@media (max-width: 1200px) {
}

/* Huge screens (TVs, etc.) */

@media (min-width: 1200px) {
}

@media (max-width: 480px) {
	.main-f-con {
		flex-direction: column;
		height: 1500px;
		width: 100vw;
	}
	.shopname1 {
		font-size: 50px;
	}

	.tag2-1 {
		font-size: 30px;
		text-align: center;
		display: flex;
		margin-left: 150px;
	}

	.icons {
		margin-left: 150px;
		margin-top: 50px;
	}

	.copyright {
		font-size: 30px;
		transform: translate(0px, -130px);
		margin-left: 80px;
	}

	.concon {
		margin-bottom: 40px;
	}

	.footcon2,
	.footcon3 {
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
	}
}
