@font-face {
	font-family: bebas;
	src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
	font-family: playfair;
	src: url(../../public/fonts/PlayfairDisplay-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.tagline {
	font-family: playfair;
	margin-left: 300px;
	margin-top: 40px;
}

span {
	font-size: 120px;
	font-family: playfair;
	filter: drop-shadow(1px 5.5px 2px black);
	font-weight: light;
}

.register {
	background-color: rgb(169, 132, 103, 80%);
	padding: 10px;
	border: none;
	border-radius: 25px;
	margin-left: 295px;
	margin-top: 20px;
	color: black;
	transition-duration: 0.2s;
	font-size: 20px;
}

.register:hover {
	background-color: rgba(92, 73, 59, 0.8);
	color: white;
}
